#mainPanel{
    -fx-background-color: red;
    -fx-spacing: 0px;
    -fx-alignment: center;

}


#divider {
    -fx-pref-width: 400;
    -fx-pref-height: 20;
    -fx-background-color: #DEDEDE;
    -fx-border-width: 0;

}
#header {
    -fx-pref-width: 400;
    -fx-pref-height: 100;
    -fx-background-color:#3E4756;
    -fx-border-width: 0;
}

#main {
    -fx-pref-width: 400;
    -fx-pref-height: 480;
    -fx-background-color:#3E4756;
    -fx-border-width: 0;
}

.button{
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-background-color: #3E4756;
    -fx-border-width: 0;
}
#btnsetting{
    -fx-background-image: url(../imagen/gear-50.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#btnuser{
    -fx-background-image: url(../imagen/user-50.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#btntrophy{
    -fx-background-image: url(../imagen/trophy-50.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#btnpower{
    -fx-background-image: url(../imagen/shutdown-50.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#touchpanel{
    -fx-pref-width:400;
    -fx-pref-height: 120;
    -fx-background-color: #3E4756;
}

#lefttouchpanel{
    -fx-pref-width: 200;

    -fx-padding: 10;
    -fx-alignment: center-left;
}

#righttouchpanel{
    -fx-pref-width: 200;

    -fx-padding: 10;
    -fx-alignment: center-left;
}

#lblTouchTitle{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;
}

#txtTouchText{
    -fx-font-family: "roboto";
    -fx-font-weight: 600;
    -fx-fill: #DEDEDE;
    -fx-font-size: 12;
}

#btnToggle{
    -fx-background-image: url(../imagen/toggle-50.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-background-color: #3E4756;
}
#lblToggle{
    -fx-font-family: "roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;
}

#panelLine{
    -fx-alignment: center;

}


#TouchPanel2{
    -fx-pref-width:400;
    -fx-pref-height: 120;
    -fx-background-color: #3E4756;
}

#LeftTouchPanel{
    -fx-pref-width: 200;

    -fx-padding: 10;
    -fx-alignment: center-left;
}

#LblTouchTitle2{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;
}

#TxtTouchText2{
    -fx-font-family: "roboto";
    -fx-font-weight: 600;
    -fx-fill: #DEDEDE;
    -fx-font-size: 12;
}
#RightTouchPanel{
    -fx-pref-width: 200;

    -fx-padding: 10;
    -fx-alignment: center-left;
}
#btnToggle2{
    -fx-background-image: url(../imagen/toggle-50.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-background-color: #3E4756;
}
#lblToggle2{
    -fx-font-family: "roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;
}

#touchP{
    -fx-pref-width:400;
    -fx-pref-height: 120;
    -fx-background-color: #3E4756;
    -fx-border-width: 0;
}

#Title{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;

}

#TouchPanel3{
    -fx-pref-width: 200;
    -fx-padding: 10;

}

#scrash{
    -fx-alignment: center;
    -fx-pref-width: 300;
    -fx-pref-height: 120;
    -fx-arrows-visible: true;
}

#barra{
    -fx-highlight-fill:  #DBF27D;
    -fx-background-color:  yellow;

}

#Pderecho{
    -fx-pref-width:400;
    -fx-pref-height: 100;
    -fx-background-color: #3E4756;
}

#lblLabel{
    -fx-font-family: "roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;
}

#Pizquierdo{
    -fx-pref-width: 200;
    -fx-padding: 10;
    -fx-alignment: center-left;
}

#Pderecho{
    -fx-pref-width: 200;
    -fx-padding: 10;
    -fx-alignment: center-right;
}
#lblLabel3{
    -fx-font-family: "roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #DEDEDE;
    -fx-font-size: 16;
}

#panelLine{
    -fx-alignment: center;
}

#linea{
   -fx-stroke: rgb(159,157, 157);
    -fx-stroke-width: 2;
}

#linea2{
    -fx-stroke: rgb(159,157, 157);
    -fx-stroke-width: 2;
}

#LeftButton{
    -fx-pref-width: 200;
    -fx-padding: 10;
    -fx-alignment: center-right;
}

#RightButton{
    -fx-pref-width: 200;
    -fx-padding: 10;
    -fx-alignment: center-left;

}
#botoncancel{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-pref-height: 40;
}

#botonsave{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-pref-height: 40;
}

#btnbarra{
    -fx-background-image: url(../imagen/gauge.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 380;
    -fx-pref-height: 200;
}